<!DOCTYPE html>
<html lang="en" xmln:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <title>Page d'accueil</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://unpkg.com/js-offcanvas@1.2.0/dist/_css/prefixed/js-offcanvas.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/myStyleIndex.css">

  
</head>

<body>

  	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<button class="navbar-toggler d-block d-sm-none js-sidebar-toggler" data-button-options='{"modifiers":"left","wrapText":false}' aria-label="Toggle Sidebar">
				
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="user-img0">
					<a class="navbar-brand" href="#"><img src="img/enaA.jpg" ></a>
				</div>
				<a class="navbar-brand" href="#">ENA</a>
				<button class="navbar-toggler js-offcanvas-toggler" data-button-options='{"modifiers":"right","wrapText":false}' aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsExampleDefault" data-set="bs">
					<ul class="navbar-nav mr-auto js-append-around">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Autre</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#">Documents</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Departement</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="#">Administration</a>
								<a class="dropdown-item" href="#">Scolarité</a>
								<a class="dropdown-item" href="#">Enseignants</a>
								<a class="dropdown-item" href="#">Etudiants</a>
							</div>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0 js-append-around">
						<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
					
				</div>
				<div>
					<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
				</div>
			</nav>
			<div class="">

				<div class="c-offcanvas-content-wrap">

				<div class="container-fluid">
					<div class="row">
						<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar" data-set="bs-sidebar">
							<div class="js-append-around">
								<ul class="nav nav-pills flex-column">
									<li class="nav-item">
										<div class="col-12 user-img">
											<img src="img/face.png">
											<div class="panel-heading">
												<div class="panel-title" style="color: black">Ravo</div>
												<div class="panel-title" style="color: black">Admin</div>
											</div>
										</div>
									</li>
								</ul>
								<ul class="nav nav-pills flex-column">
									<li class="nav-item">
										<a class="nav-link active" href="#">Accueil<span class="sr-only">(current)</span></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Filière</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Tableau de bord</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Personnels</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Salles</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Espace personnel</a>
									</li>
								</ul>

								<ul class="nav nav-pills flex-column">
									<li class="nav-item">
										<a class="nav-link" href="#">Autres informations</a>
									</li>
								</ul>

							</div>
						</nav>

						<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
							<h1>Page d'accueil ENA Agadir</h1>
							
							<section class="row text-center placeholders">
								<div class="col-6 col-sm-3 placeholder">
									<a class="nav-link" href="#">
									<img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
									<h4>CP1</h4>
									<div class="text-muted">Responsable 1</div>
									</a>
								</div>
								<div class="col-6 col-sm-3 placeholder">
									<a class="nav-link" href="#">
									<img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
									<h4>CP2</h4>
									<span class="text-muted">Responsable 2</span>
									</a>
								</div>
								<div class="col-6 col-sm-3 placeholder">
									<a class="nav-link" href="#">
									<img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
									<h4>Filiere A</h4>
									<span class="text-muted">Responsable 3</span>
									</a>
								</div>
								<div class="col-6 col-sm-3 placeholder">
									<a class="nav-link" href="#">
									<img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
									<h4>Filiere B</h4>
									<span class="text-muted">Responsable 4</span>
									</a>
								</div>
							</section>

							<h2>Listes utilisateurs</h2>
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
									<tr>
										<th>Ref</th>
										<th>Nom d'utilisateur</th>
										<th>Email</th>
										<th>Roles</th>
										<th>Plus de detail</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="u:${listUsers}">
										<td th:text="${u.idUser}"></td>
										<td th:text="${u.username}"></td>
										<td th:text="${u.activated}"></td>
										<td >B</td>
										<td>
											<a href="#" class="btn btn-lg btn btn-primary btn-sm" data-offcanvas-triggr="top">Detail</a>
										</td>
									</tr>
									
									
									</tbody>
								</table>
									<div>
										<a href="#" class="btn btn-lg btn btn-success" data-offcanvas-triggr="top">Ajouter</a>
									</div>
							</div>
						</main>
					</div>
				</div>
			</div>

			</div>

		<div class="c-offcanvas is-hidden" id="right">
			<div class="navbar">
				<button type="button" class="btn btn-block btn-outline-dark js-offcanvas-close">Close</button>
				<div class="input-group mt-3">
					<input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
					<span class="input-group-btn">
					<button class="btn btn-secondary" type="button">Go!</button>
				  </span>
				</div>
				<!-- container for appendAround -->
				<div class="offcanvas-nav d-block d-md-none" data-set="bs"></div>
			</div>
		</div>

		<div class="c-offcanvas is-hidden" id="left">
			<!-- container for appendAround -->
			<div class="offcanvas-nav d-block d-sm-none" data-set="bs-sidebar"></div>
		</div>
		<div class="c-offcanvas is-hidden js-offcanvas" data-offcanvas-options='{"modifiers":"top,fixed,overlay"}' id="top">
			<form class="form-signin">
				<h2 class="form-signin-heading">Please sign in</h2>
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
		</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script src='https://npmcdn.com/js-offcanvas@1.2.0/dist/_js/js-offcanvas.pkgd.min.js'></script>

  

    <script  src="js/index.js"></script>


</body>

</html>
