<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit User</title>
</head>
<body>
 	<h2>editUser Page!!</h2>
 	
 		<form action="#" th:action="@{/editUserSave}" th:object="${user}" method="post">
			<input type="hidden" th:value="${idUser}" th:field="*{idUser}" />
			<table class="table table-striped">
				<tr>
					<td width="10%">Ref :</td>

					<td width="90%" align="left"><input type="text" th:field="*{idUser}" readOnly/></td>

				</tr>
				<tr>
					<td>Username : </td>

					<td><input type="text" th:field="*{username}" /></td>
				</tr>
				<tr>
					<td> </td>
					<td>
						<input type="submit" value="Editer" />
						<input type="hidden"
							   name="${_csrf.parameterName}"
							   value="${_csrf.token}" />
					</td>
				</tr>				
			</table>
			
		</form>
</body>
</html>